<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <br>
    <div class="navbar">
        <img src="{% static 'images/R.jpg'%}" style="height: 40px; width: 45px;" alt="XD">
        <b>REVA </b><b style="color: grey;">University</b>
        <a style="margin-left: 1140px;" href="/">Home</a><a href="/IS"></a>
        <a style="margin-left: 20px;" href="/reg">Register</a>
    </div>
    <div class="row">
        <div class="imgs">
            <p style="font-size: 60px;">
                Welcome to CS Page.
                Check the field to the right to login,
                if not registered click on Register.
            </p>
        </div>
        <div class="login">
            <form action="/IS">    
                <label style="padding-right: 38px;"> Name : </label><input type="text" name="n1"><br><br>   
                <label> Password : </label><input class="pass" type="password"><br><br>
                <button type="submit">Login</button>
                <button type="reset">Reset</button>
            </form>
        </div>
    </div>
    <div class="abt2">
        <h3>About</h3>
        <p>The REVA University is a private state University located in Bangalore, Karnataka. 
           The Reva Group of Educational Institutions was established in 2002, managed by 
           Rukmini Educational Charitable Trust. In 2004 it was taken over by Rukmini 
           Educational Charitable Trust led by Dr. P. Shyama Raju.
        </p>
    </div>
</body>
</html>