{% extends "base.html" %}
{% block main_body %}
        <div class="container-fluid" style=" padding-top: 3%; padding-left: 0;">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="imgs">
                        <p>
                            Welcome to the data page.
                            If u want to login visit CS page and enter details,
                            if not registered click on Register.
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="tt">
                            <table>
                                <tr style="text-align: left;">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Semester</th>
                                </tr>
                                <tr>
                                    <td>R19CS267</td>
                                    <td>S Poorna Sai Teja</td>
                                    <td>9920134501</td>
                                    <td style="text-align: center;">IV</td>
                                </tr>
                                <tr>
                                    <td>R19CS261</td>
                                    <td>Rohith K Raju</td>
                                    <td>8920231501</td>
                                    <td style="text-align: center;">IV</td>
                                </tr>
                                <tr>
                                    <td>R19CS79</td>
                                    <td>Sai Kiran S</td>
                                    <td>7720134501</td>
                                    <td style="text-align: center;">IV</td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}