{% extends "base.html" %}
{% block main_body %}
        <div class="container-fluid" style=" padding-top: 3%; padding-left: 0;">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <img src="/static/images/b.jpg" alt="XD" class="img-fluid">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <p style="font-size: 1.7rem;">The REVA University is a private state University located in
                        Bangalore, Karnataka.
                        The Reva Group of Educational Institutions was established in 2002, managed by
                        Rukmini Educational Charitable Trust. In 2004 it was taken over by Rukmini
                        Educational Charitable Trust led by Dr. P. Shyama Raju.</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="loginnew">
                        <form action="/IS">
                            <div class="form-group row">
                                <div class="col-sm-12" style="padding: 5%;">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                                    <input type="text" class="form-control pass" name="n1" style="font-size: 1.2rem;
                                    height: 45%;">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12" style="padding: 5%;">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                    <input type="password" class="form-control" style="font-size: 1.2rem;
                                    height: 45%;">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6" style="padding: 5%;">
                                    <button type="submit">Login</button>
                                </div>
                                <div class="col-sm-6" style="padding: 5%;">
                                    <button type="reset">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container my-5">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <p>
                            P. Shyama Raju is an Indian entrepreneur, philanthropist, and an educationist based
                            in Bengaluru, Karnataka. He is the Chairman & Managing Director of DivyaSree
                            Developers Pvt. Ltd, Chairman at Rukmini Educational Charitable Trust, and the
                            Chancellor of REVA University, Bengaluru.
                        </p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <img src="/static/images/s.jpeg" alt="XD" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}